@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html { 
    background: url(Photos/galaxy.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-color: black;
    scroll-behavior: smooth;
    
  }

.header{
    background:rgba(93, 97, 93, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sound{
    height:15vh;
    position: absolute;
    right:3vw;
}

body{
    font-family: 'Yusei Magic', sans-serif;
    color:white;
    overflow-x: hidden; 
}

#rocket{
    width: 8vw;
    position: absolute;
    top:72vh;
    left:-8vw;
    animation: rocket linear 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

@keyframes rocket{

    12.5%{
        transform: translateX(21vw) translateY(2vh) rotate(5deg);
    }

    25%{
        transform: translateX(50vw) translateY(-2vh) rotate(-5deg);
    }

    37.5%{
        transform: translateX(79vw) translateY(2vh) rotate(5deg);
        
    }

    50%{
        transform: translateX(108vw) translateY(10vh) rotate(15deg);
    }

    100%{
        transform: translateX(108vw) translateY(-2vh) rotate(-5deg);
    }

    
}

#alienship{
    height:23vh;
    position:absolute;
    left:15vw;
    top:-23vh;
    animation: ship ease-out 20s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
   
}

@keyframes ship{
    60%{
        transform: translateY(0vh);
    }
    70%{
        transform: translateY(63vh);
    }
    100%{
        transform: translateY(-50vh);
    }

}

#kidnap{
    width: 4vw;
    position:absolute;
    right:-4vw;
    top :50vh;
    animation: kidnap linear 20s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

@keyframes kidnap{
    35%{
        transform: translateX(4vw);
    }

    52.5%{
        transform: translateX(-43vw) translateY(-6vh) rotate(360deg);
    }

    70%{
        transform: translateX(-81.5vw) translateY(6vh) rotate(720deg);
    }

    100%{
        transform: translateX(-81.5vw) translateY(-160vh) rotate(690deg);
    }
}

.scoreboard{
    font-size: 3vw;
    margin-left: 37vw;
}


#gameSec{
    height:100vh;
    display:none;
    
}

.game{
    
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.choice{
   
    width: 11vw;
    cursor:pointer;
    border-radius: 30%;
    margin-left: 3%;
    animation: appearfromLeft ease 1s;
    transition: 0.3s;
}

.choice:hover{
    background-color: rgba(49, 48, 48,0.3);
    transform: scale(1.2);
    }

 .choice:active{
    background-color: rgba(49, 48, 48,0.8); 
 }   

#rock{
    animation: appearfromTop ease 2s;
}

#scissors{
    animation: appearfromTop ease 3s;
}

@keyframes appearfromLeft{
    0%{
        transform: translateX(-100vw);
    }

    100%{
        transform: translateX(0%);
    }
}


@keyframes appearfromTop{
    0%{
        transform: translateY(-100vh);
    }

    100%{
        transform: translateY(0%);
    }
}
#status{
    color:white;
    font-size: 3vw;
    margin-top: 2%;
    margin-left: 39vw;
}

#RoomSec{
    display: flex;
    flex-direction: column;
    color:white;
    height:100vh;
    font-size: 100%;
}

.Create{
    margin-top: 30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

button{
    font-family: 'Yusei Magic', sans-serif;
    color:white;
    font-size: 7vh;
    background:rgb(102, 101, 99);
    border-radius: 20%;
    margin: 0.5vw;
    
}
button:hover{

    background:rgb(129, 125, 123);
    cursor: pointer;
    animation: lmao ease 0.6s;
    animation-delay: 150ms;
    border: none;
    outline: none;
    
}

button:active{
    color:rgb(51, 49, 49);
}

@keyframes lmao{
    25%{
	transform: scale(0.8,1.3);
    }
    50%{
	transform: scale(1.1,0.8);
    }
    75%{
	transform: scale(0.7,1.2);
    }
}

#RoomStatus{
    white-space: pre;
    font-size: 3vw;
}

#box{
    height:6vh;
    width:5vw;
    background-color: rgba(255, 255, 255,0.3);
    font-family: 'Yusei Magic', sans-serif;
    color:white;
    font-size: 1.2em;
}


#insert{
    font-size: 5vh;
    background-color: rgba(182, 182, 182,0.2);
}


#InsertDIV{
    margin-left: 36vw;
}
